body{
    background: #fafafa !important;
    font-family: Arial, sans-serif;
    margin: 0;
    padding-bottom: 70px;
}

header{
    padding-top: 2.5vh;
}

.header-left, .header-center, .header-right {
    display: flex;
    flex: 1;
    align-items: center;
}

.header-left{
    justify-content: flex-start;
}

.header-center{
    justify-content: center;
}

.header-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 100%;
}

.header-inner{
    max-width: 500px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding-inline: 10px;
}

.plus{
    background: none;
    border: none;
    font-size: 2rem;
}



main{
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
}


.feed-post {
    background: #fafafa;          
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 25px;
    overflow: hidden;               
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    margin: 0 auto;
    border-radius: 16px;
    border-style: ridge;
    border-color: black;
    margin-bottom: 20px;
}


.post-header {
    display: flex;
    align-items: center;
    gap: 10px;                 
    padding: 10px;
}

.post-header img {
    border-radius: 50%;   
}

.username {
    font-weight: bold;
}

.post-time {
    justify-content: right;             
    font-size: 0.8rem;
    color: #777;
}

.post-card {
    padding: 10px;
    text-align: center;
}

.card-number {
    display: block;
    font-size: 1rem;
    margin: 0 auto;
    font-size: 22px;
}

.post-card{
    padding: 10px;
    padding-top: 0;
    text-align: center;
}

.post-card img {
    width: 100%;                     
    border-radius: 8px;
    margin: 10px 0;
}

.card-title {
    text-align: left;
    padding-left: 10px;
    padding: 7px;
    background: rgb(255, 243, 243);
    border-radius: 5px;
}

.card-description {
    text-align: left;
    background-color: rgb(248, 248, 248);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.card-tags{
    display: flex;
    gap:15px;
    flex-wrap: wrap;
    justify-content: left;
}

.card-tags span{
    display: inline-block;
    background: #f1f1f1;
    border-radius: 20px;
    padding: 4px 10px;
    font-size: 0.8rem;
}

.post-actions {
    display: flex;
    justify-content: space-around;
    padding: 7px;
    border-top: 1px solid #eee;
}

.post-actions button {
    background: none;
    border: none;
    font-size: 1rem;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #fafafa;
    border-top: 1px solid #ddd;
    z-index: 1000;
}


.footer-nav {
    display: flex;   
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;       
    margin: 0;                  
    padding: 10px;               
    list-style: none;            
    max-width: 500px;
    width: 100%;
    margin-inline: auto; 
}
