header{
    padding-top: 4vh;
}

main {
    margin-left: 15px;
    margin-right: 15px;
}


.date-deck{
    position: relative;
    width: 100%;
    max-width: 360px;
    height: calc(100vh - 70px);
    margin: 2rem auto;
    margin-top: 10vh;
}

.date-card{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 85%;
    height: ;
    background: #fff;
    margin: 0 auto;
    border-radius: 16px;
    padding: 1rem;
    padding-left: 28px;
    padding-right: 28px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.08);
    border-style: ridge;
    border-color: black;

    opacity: 0;
    transition: all 0.35s ease;
}

.date-card::before{
    content: "";
    position: absolute;
    top: 12px; bottom: 12px; left: 12px; right: 12px;
    border: 1px solid black; 
    border-radius: 8px;
    pointer-events: none;
}

.card-number{
    position: absolute;
    top: 6px;
    left: 4px;
    background-color: white;
    border-radius: 5px;
    font-size: 30px;
}

.bottom-card-number{
    position: absolute;
    bottom: 0px;
    right: 4px;
    transform: rotate(180deg);
    background-color: white;
    border-radius: 5px;
    font-size: 30px;
}

.card-description{
    background-color: rgb(248, 248, 248);
    border-radius: 8px;
    padding: 5px;
    text-decoration: underline;
    text-decoration-thickness: 0.1px;
}

.description{
    opacity: 0.8;
    text-decoration-thickness: 0;
    margin: 0;
}

.card-title{
    font-size: 1.5rem;
}

.date-card.active{
    opacity: 1;
    transform: scale(1);
    z-index: 3;
}

.date-card:nth-child(2){
    opacity: 1;
    z-index: 1;
    transform: scale(0.999) translateX(25px) translateY(12px);
}

.date-card:nth-child(3){
    opacity: 1;
    z-index: 2;
    transform: scale(0.999) translateX(-25px) translateY(12px);
}

.date-card img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 0.75rem;
    flex-shrink: 0;
}

.card-tags{
    margin-top: auto;
    padding-top: 5px;
    display: flex;
    gap:6px;
    flex-wrap: wrap;
    justify-content: center;
}

.card-tags span{
    display: inline-block;
    background: #f1f1f1;
    border-radius: 20px;
    padding: 4px 10px;
    font-size: 0.8rem;
    margin-bottom: 3px;
}