h1 {
    margin: 0;
}

.desktop{
    display: flex;
    flex-direction: row;
}

.chat-list{
    min-width: 400px;
    background-color: #fafafa;
    padding: 20px;
    height: 88vh;
    padding-bottom: 72px;
    border-right: 1px solid rgb(167, 167, 167);

    display: flex;
    flex-direction: column;
}

.list-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.chat-username{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-left: 7px;
}

.new-message-icon{
    font-size: 30px;
    transition: transform 0.2s ease;
}

.new-message-icon:hover{
    cursor: pointer;
    transform: scale(1.09);
}

.search-bar{
    border: none;
    background-color: #ededed;
    border-radius: 999px;
    margin-top: 6px;
    padding: 4px; padding-left: 15px;
    width: 100%;
}

.list-body{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    padding: 10px;
    border-radius: 8px;
}

.chat-item:hover{
    background-color: #f1f1f1;
    cursor: pointer;
}

.chat-avatar{
    min-width: 50px;
    height: 50px;
    border-radius: 999px;
    font-size: 33px;
    text-align: center;
    color: #313131;
}

.chat-info{
    width: 100%;
    font-size: 15px;
}

.chat-name-and-time{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.chat-name{
    font-size: 17px;
    font-weight: bold;
}

.chat-window{
    background-color: #fafafa;
    width: 100%;
}

.chat-window-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 20px;
    border-bottom: 1px solid rgb(167, 167, 167);
}

.chat-window-avatar-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.chat-window-avatar{
    min-width: 50px;
    height: 50px;
    border-radius: 999px;
    font-size: 33px;
    text-align: center;
    color: #313131;
}
.chat-window-name{
    font-size: 20px;
    font-weight: bold;
}

.chat-window-info{
    font-size: 30px;
    width: 36px; height: 36px;
    color: #313131;
    border: 1px solid rgb(93, 93, 93);
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-window-info:hover{
    background-color: #f1f1f1;
    cursor: pointer;
}