
.date-deck{
    position: relative;
    width: 100%;
    max-width: 360px;
    aspect-ratio: 3/4;

}

.date-card{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 80%;
    background: #fff;
    margin: 0 auto;
    border-radius: 16px;
    padding: 1rem;
    padding-left: 28px;
    padding-right: 28px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.08);
    border-style: ridge;
    border-color: black;

    opacity: 0;
    transition: all 0.35s ease;
}

.date-card::before{
    content: "";
    position: absolute;
    top: 12px; bottom: 12px; left: 12px; right: 12px;
    border: 1px solid black; 
    border-radius: 8px;
    pointer-events: none;
}

.card-number{
    position: absolute;
    top: 6px;
    left: 4px;
    background-color: white;
    border-radius: 5px;
    font-size: 30px;
}

.bottom-card-number{
    position: absolute;
    bottom: 0px;
    right: 4px;
    transform: rotate(180deg);
    background-color: white;
    border-radius: 5px;
    font-size: 30px;
}

.card-description{
    background-color: rgb(248, 248, 248);
    border-radius: 8px;
    padding: 5px;
    text-decoration: underline;
    text-decoration-thickness: 0.01px;
    border: none;
}

.description{
    opacity: 0.8;
    text-decoration-thickness: 0;
    margin: 0;
    border: none;
    min-height: 100px;
    background-color: rgb(248, 248, 248);
    width: 100%;
}

.card-title{
    font-size: 1.5rem;
    border: none;
}

.date-card.active{
    opacity: 1;
    transform: scale(1);
    z-index: 3;
}

.date-card.right{
    opacity: 1;
    z-index: 1;
    transform: scale(0.99) translateX(25px);
}

.date-card.left{
    opacity: 1;
    z-index: 2;
    transform: scale(0.99) translateX(-25px);
}

.date-card img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 0.75rem;
    flex-shrink: 0;
}

.card-tags{
    margin-top: auto;
    display: flex;
    gap:6px;
    overflow: hidden;
    flex-wrap: nowrap;
    white-space: nowrap;
    justify-content: center;
}

.card-tag{
    background: #f1f1f1;
    border-radius: 20px;
    padding: 4px 10px;
    font-size: 0.8rem;
    margin-bottom: 3px;
}

.custom-btn{
    padding: 8px 13px;
    border-radius: 8px;
    border: 1px solid black;
    background: white;
}

.deck-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.empty-deck-img{
    width: 100%;
    max-width: 300px;
    opacity: 0.8;
    padding-top: 20px;
}
.empty-deck{
    font-size: 1.2rem;
    color: #555;
    margin-top: 20px;
}

.swipe-btn{
    border-radius: 50%;
    border: none;
    width: 42px;
    background: #f1f1f1;
    cursor: pointer;
}