.btn.custom-btn {
  background-color: #ae2828; /* Hot pink */
  color: white; /* Text color */
  border: none; /* Remove border if you want */
}

.btn.custom-btn:hover {
  background-color: #c73434; /* Slightly lighter on hover */
}

main{
    flex: 1
}

footer{
    background-color: rgb(243, 243, 243);
}

.login-form{
    max-width: 325px;
}

.email-input{
    width: 350px;
}

.remember-text{
    margin-left: 5px;
}