body{
    background: #fafafa !important;
    font-family: Arial, sans-serif;
    margin: 0;
}

.title{
    width: 220px;
}

.app-layout{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.login-footer{
    height: 28px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.normal-header{
    height: 12vh;
    display: flex;
    justify-content: center;
}

.header-img{
    height: 100%;
}

.normal-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #fff;
    border-top: 1px solid #ddd;
    z-index: 1000;
}


.footer-nav {
    display: flex;   
    flex-direction: row;
    justify-content: space-around;
    align-items: center;           
    margin: 0;                  
    padding: 10px;                
    list-style: none;          
    max-width: 500px;
    width: 100%;
    margin-inline: auto;          
}

.footer-icon{
    width: 50px;
}